.DS_Store

# Xcode
example/ios/exampleWizUniqueIdentifier.xcodeproj/xcuserdata/*
example/ios/exampleWizUniqueIdentifier.xcodeproj/project.xcworkspace/*
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
example/ios/www/*
!example/ios/www/cordova-2.7.0.js
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
example/ios/www/*

# Jet Brains
.idea/
.iws
workspace.xml
tasks.xml

# Android
proguard/
local.properties
gen/
bin/
.classpath
.project
out/


