.DS_Store
example/ios/exampleWizUniqueIdentifier.xcodeproj/xcuserdata/*
example/ios/exampleWizUniqueIdentifier.xcodeproj/project.xcworkspace/*
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
example/ios/www/*
!example/ios/www/cordova-2.6.0.js
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
example/ios/www/*
!example/ios/www/cordova-2.6.0.js
